<!DOCTYPE html>
<html>

<head>
    <title>Code Reducer Result</title>
</head>

<body>
    <h1>Reduced Code</h1>
    <h2>Minimized CSS:</h2>
    <p>The minified CSS has been saved to the <code>public/minified/minified.css</code> file.</p>
    <pre><%= minifiedCSS %></pre>
    <h2>Minimized JavaScript:</h2>
    <p>The minified JavaScript has been saved to the <code>public/minified/minified.js</code> file.</p>
    <pre><%= minifiedJS %></pre>
</body>

</html>